<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhangzc.sharethingcommentimpl.mapper.FsCommentLikeMapper">

    <resultMap id="BaseResultMap" type="com.zhangzc.sharethingcommentimpl.pojo.domain.FsCommentLike">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="comment_id" column="comment_id" jdbcType="INTEGER"/>
            <result property="state" column="state" jdbcType="TINYINT"/>
            <result property="like_user" column="like_user" jdbcType="BIGINT"/>
            <result property="create_time" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="update_time" column="update_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,comment_id,state,
        like_user,create_time,update_time
    </sql>
</mapper>
